@font-face {
  font-family: 'iconfont'; /* Project id 5007816 */
  src:
    url('./iconfont.woff2?t=1756349934232') format('woff2'),
    url('./iconfont.woff?t=1756349934232') format('woff'),
    url('./iconfont.ttf?t=1756349934232') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-validToken:before {
  content: '\e621';
}

.icon-addToken:before {
  content: '\e65f';
}

.icon-invalidToken:before {
  content: '\e8d9';
}

.icon-tokenLibrary:before {
  content: '\e750';
}

.icon-youxiang:before {
  content: '\e65e';
}

.icon-shezhi:before {
  content: '\e61c';
}

.icon-rizhi:before {
  content: '\e668';
}

.icon-kaishiliucheng:before {
  content: '\e60f';
}

.icon-fangwenlingpai:before {
  content: '\ea16';
}
